<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="container">

    <%- include('partials/navbar'); %>

    <h1>
      <%= title %>
    </h1>

    <section id="docs">
      <header class="row">
        <div class="col is-vertical-align">
          <h2 class="is-marginless">Docs</h2>
        </div>
        <div class="col is-right">
          <nav class="tabs">
            <% for(var i=0; i < sections.length; i++) { %>
              <a href="#<%= sections[i].id %>"><%= sections[i].id %></a>
            <% } %>
          </nav>
        </div>
      </header>
      <br>
      <p>
        Chota is <em>dead</em> simple to use. It doesn't require learning a lot of class names like other frameworks. It applies a few basic styles to the HTML following the <a href="https://www.w3schools.com/html/html5_semantic_elements.asp" target="_blank">HTML Semantics</a>.
      </p>

      <h3 id="customizing">Customizing</h3>
      <p>CustomizingCustomizingCustomizingCustomizing</p>

    </section>

    <% for(var i=0; i < sections.length; i++) { %>
      <h3 id="<%= sections[i].id %>"><%= sections[i].id %></h3>
      <p><%- sections[i].html %></p>
    <% } %>

  </div>
  <%- include('partials/prepare_toast'); %>
  <%- include('partials/footer'); %>
</body>
<%- include('partials/afterbody'); %>

</html>