<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="container">
    <%- include('partials/navbar'); %>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    
    <div class="row">
      <% for (var i=0; listings.length> 0 && i < listings.length && i < 10 ; i++) { %>
      <div class="col listing"> 
        TODO: limit title length 
        <h3 dir="auto"><a href='/listings/<%= listings[i].id %>'><%= listings[i].title %></a></h3> 
        <p dir="auto"><%- listings[i].desc_.slice(0,300) %> ...</p>
        <code><%= listings[i].date %></code>
        <ul class="tags">
          <% for (var j=0; listings[i].tags && listings[i].tags.length > 0 && j < listings[i].tags.length ; j++) { %>
            <li><a href="/tag/<%- listings[i].tags[j] %>" class="tagg"><%- listings[i].tags[j] %></a></li>
          <% } %>
        </ul>

      </div>
      <% } %>
    </div>
    

  </div>
  <%- include('partials/footer'); %>
  <script>
    var grid1 = new Muuri('.grid-1', {
      dragEnabled: true,
      dragContainer: document.body,
      dragSort: function () {
        return [grid1]
      }
    });
  </script>
</body>
<%- include('partials/afterbody'); %>

</html>