<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div id="upper_left"></div>
  <div id="upper_right"></div>
  <!-- <div id="lower_left"></div> -->
  <div id="lower_right"></div>
  <div class="container">

    <%- include('partials/navbar'); %>

    <div class="head">
      <div class="headerobjectswrapper">
          <div class="weatherforcastbox"><span style="font-style: italic; font-size: smaller;"><%= intro %></div>
          <div class="header"><%= title %></div>
      </div>
      <div class="subhead">Algeria, somewhere - <%= new Intl.DateTimeFormat('ar-DZ', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %></div>
    </div>

    <details>
      <summary>Search</summary>
      <h2>Exact search</h2>
      <form action="/listings/query" method="POST">
        <p class="grouped">
          <!-- <label for="title">Title</label> -->
          <label for="exactTitle">Exact ?</label>
          <input type="checkbox" class="query" name="exactTitle" id="exactTitle" >
          <input name="title" class="query" id="title" value="title..." placeholder="Title">

          <!-- <label for="description">Description</label> -->
          <label for="exactDesc">Exact ?</label>
          <input type="checkbox" class="query" name="exactDesc" id="exactDesc" >
          <input name="desc" class="query" id="description" value="description..." placeholder="Description">

          <label for="since">Since date</label>
          <input type="date" class="query" id="since" name="since" value="2021-04-01" min="2021-04-01">

          <button>Search</button>
        </p>
      </form>

      <h2>Fuzzy search</h2>
      <form action="/listings/queryV2" method="POST">
        <p class="grouped">
          <!-- <label for="title_desc">Title and description</label> -->
          <input name="title_desc" value="title_desc..." placeholder="Any text">
          <label for="since">Since date</label>
          <input type="date" name="since" value="2021-04-01" min="2021-04-01">
          <button>Search</button>
        </p>

      </form>
    </details>

    <div class="search">
      <input type="search" placeholder="Today listings" required>
    </div>

    <br>
    <hr>
    <h2>Listings</h2>
    TODO: Only show latests ! and limit
    <div class="row">
      <% for (var i=0; listings.length> 0 && i < listings.length && i < 10 ; i++) { %>
      <div class="col listing"> 
        TODO: limit title length 
        <h3 dir="auto"><a href='/listings/<%= listings[i].id %>'><%= listings[i].title %></a></h3> 
        <p dir="auto"><%- listings[i].desc_.slice(0,300) %> ...</p>
        <code><%= listings[i].date %></code>
        <ul class="tags">
          <% for (var j=0; listings[i].tags && listings[i].tags.length > 0 && j < listings[i].tags.length ; j++) { %>
            <li><a href="/<%- listings[i].tags[j] %>" class="tagg"><%- listings[i].tags[j] %></a></li>
          <% } %>
        </ul>

      </div>
      <% } %>
    </div>

    <%- include('partials/add_donation'); %>

    <%- include('partials/add_artwork'); %>

    <%- include('partials/prepare_toast'); %>
  </div>
  
  <%- include('partials/footer'); %>
</body>
<%- include('partials/afterbody'); %>

</html>