<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div id="upper_left"></div>
  <div id="upper_right"></div>
  <!-- <div id="lower_left"></div> -->
  <div id="lower_right"></div>
  <div class="container">

    <%- include('partials/navbar'); %>

    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <!-- <a href="#" class="tagg">Front-end development</a> -->

    <ul class="tags">
      <% for (var i=0; data.tags && data.tags.length > 0 && i < data.tags.length ; i++) { %>
        <li><a href="/<%- data.tags[i] %>" class="tagg"><%- data.tags[i] %></a></li>
      <% } %>
    </ul>
    <% if (data.title && data.desc_) { %>
      <h2><%= data.title %></h2>
      <p><%- data.desc_ %></p>
      <div id="map" ></div>
      <br>
      <hr>
      <img id="imgg" src="/images/<%- data.img %>" width="200rem"> 
      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
      </div>
      <% if (data.pass) { %>
        <p>Your listing has been added. Wait for admin approval. Only with this password <code><%- data.pass %></code> you could deactivate this listing. Please keep it safe.</p>
      <% } %>

      <form action="contact" method="POST">
        <div>
          <label for="message">Send a message to the announcer (your email will be transmitted)</label>
          <input name="message" id="message" value="blablablac c cccccccscs">
        </div>
        <div>
          <!-- <label for="description">What description do you want to say?</label> -->
          <input name="id" value="<%= data.id %>" type="hidden" >
        </div>
        <br>
        <div>
          <button>Send</button>
        </div>
      </form>

      <div class="card">
        <h2>deactivate</h2>
        <form action="deactivate" method="POST">
          <div>
            <label for="password">You need the password for the announcement</label>
            <input name="password" id="password" value="password..." type="password">
          </div>
          <br>
          <div>
            <button>Deactivate</button>
          </div>
        </form>
      </div>
    <% } else {    %>
    <% } %>



  <%- include('partials/prepare_toast'); %>

  </div>

  <%- include('partials/footer'); %>
</body>
<%- include('partials/afterbody'); %>
</html>