<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div id="upper_left"></div>
  <div id="upper_right"></div>
  <!-- <div id="lower_left"></div> -->
  <div id="lower_right"></div>
  <div class="container">

    <%- include('partials/navbar'); %>

    <div class="head">
      <div class="headerobjectswrapper">
          <div class="weatherforcastbox"><span style="font-style: italic;"><%= intro %></div>
          <div class="header"><%= title %></div>
      </div>
      <div class="subhead">Algeria, somewhere - <%= new Intl.DateTimeFormat('ar-DZ', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %></div>
    </div>

    <details>
      <summary>Search</summary>
      <h2>Exact search</h2>
      <form action="/listings/query" method="POST">
        <p class="grouped">
          <!-- <label for="title">Title</label> -->
          <label for="exactTitle">Exact ?</label>
          <input type="checkbox" class="query" name="exactTitle" id="exactTitle" >
          <input name="title" class="query" id="title" value="title..." placeholder="Title">

          <!-- <label for="description">Description</label> -->
          <label for="exactDesc">Exact ?</label>
          <input type="checkbox" class="query" name="exactDesc" id="exactDesc" >
          <input name="desc" class="query" id="description" value="description..." placeholder="Description">

          <label for="since">Since date</label>
          <input type="date" class="query" id="since" name="since" value="2021-04-01" min="2021-04-01">

          <button>Search</button>
        </p>
      </form>

      <h2>Fuzzy search</h2>
      <form action="/listings/queryV2" method="POST">
        <p class="grouped">
          <!-- <label for="title_desc">Title and description</label> -->
          <input name="title_desc" value="title_desc..." placeholder="Any text">
          <label for="since">Since date</label>
          <input type="date" name="since" value="2021-04-01" min="2021-04-01">
          <button>Search</button>
        </p>

      </form>
    </details>


    <br>
    <hr>
    <h2>Listings</h2>

    <div class="row">
      <% for (var i=0; listings.length> 0 && i < listings.length && i < 10 ; i++) { %>
      <div class="col listing"> 
        <h3><a href='/listings/<%= listings[i].id %>'><%= listings[i].title %></a></h3> 
        <p><%- listings[i].desc_.slice(0,300) %> ...</p>
        <code><%= listings[i].date %></code>

        <ul class="tags">
          <% for (var j=0; listings[i].tags && listings[i].tags.length > 0 && j < listings[i].tags.length ; j++) { %>
            <li><a href="/<%- listings[i].tags[j] %>" class="tagg"><%- listings[i].tags[j] %></a></li>
          <% } %>
        </ul>

      </div>
      <% } %>
    </div>

    <% if(typeof sec != 'undefined' && sec != 'undefined' && sec == 'don'){ %>
    <br>
    <hr>
    <details open="">
      <summary>Add a Donation</summary>
      <h2>Add a Donation</h2>
      <div id="editor" class="pell" data-target="#unique_target" data-max="500"></div>
      <div id="characters-left"></div>
      <div>
        HTML output:
        <div id="html-output" style="white-space:pre-wrap;"></div>
      </div>
      <br>
      <div id="map"></div>
      <br>
      <br>
      <form action="/listings/add" enctype="multipart/form-data" method="POST">
        <div>
          <!-- <label for="title">Choose a title</label> -->
          <input name="title" class="add" id="title" value="title..." placeholder="Title">
        </div>
        <div>
          <label>Choose tags</label>
          <input name='tags' id='listings' value='tag1, tag2 autofocus'>
        </div>
        <div>
          <!-- <label for="description">What description do you want to say?</label> -->
          <input name="desc" class="add" id="description" value="description..." type="hidden">
        </div>
        <div>
          <input type="file"  value='image' name='avatar' accept="image/*" >
        </div>
        <input type="hidden" type="number" id="lat" name="lat" > 
        <input type="hidden" type="number" id="lng" name="lng" > 
        <input type="hidden" name="sec" value='don'> 
        <br>
        <div>
          <button>Add listing</button>
        </div>
      </form>
    </details>
    <% } %>

    <% if(typeof sec != 'undefined' && sec != 'undefined' && sec == 'art'){ %>
    <br>
    <hr>
    <details>
      <summary>Add an Artwork</summary>
      <h2>Add an Artwork</h2>
      <div id="editor2" class="pell" data-target="#unique_target" data-max="500"></div>
      <div id="characters-left2"></div>
      <div>
        HTML output:
        <div id="html-output2" style="white-space:pre-wrap;"></div>
      </div>
      <br>
      <form action="/listings/add2" method="POST">
        <div>
          <label for="title">Choose a title</label>
          <input name="title" class="add" id="title" value="title...">
        </div>
        <div>
          <label>Choose tags</label>
          <input name='tags' id='announcements' value='tag1, tag2 autofocus'>
        </div>
        <div>
          <!-- <label for="description">What description do you want to say?</label> -->
          <input name="desc" class="add" id="description2" value="description..." type="hidden">
        </div>
        <div>
          <input type="file"  value='image' name='avatar' accept="image/*" >
        </div>
        <input type="hidden" name="sec" value='art'>
        <br>
        <div>
          <button>Add listing</button>
        </div>
      </form>
    </details>
    <% } %>

    <%- include('partials/prepare_toast'); %>
  </div>
  
  <%- include('partials/footer'); %>
</body>
<%- include('partials/afterbody'); %>

</html>