<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <h2>Search</h2>
    <form action="listings/query" method="POST">
      <div>
        <label for="title">What title do you want to search?</label>
        <input name="title" class="query" id="title" value="title...">
      </div>
      <div>
        <label for="exactTitle">exactTitle ?</label>
        <input type="checkbox" class="query" name="exactTitle" id="exactTitle" checked>
      </div>
      <div>
        <label for="description">What description do you want to search?</label>
        <input name="desc" class="query" id="description" value="description...">
      </div>
      <div>
        <label for="exactDesc">exactDesc ?</label>
        <input type="checkbox" class="query" name="exactDesc" id="exactDesc" checked>
      </div>
      <label for="since">Since date (defaults to all):</label>
      <input type="date" class="query" id="since" name="since" value="2021-04-01" min="2021-04-01">

      <div>
        <button>Send my data</button>
      </div>
    </form>
    <br>
    <hr>
    <h2>Fuzzy search</h2>
    <form action="listings/queryV2" method="POST">
      <div>
        <label for="title_desc">What search for title and description?</label>
        <input name="title_desc" value="title_desc...">
      </div>
      <label for="since">Since date (defaults to all):</label>
      <input type="date" name="since" value="2021-04-01" min="2021-04-01">

      <div>
        <button>Send my data</button>
      </div>
    </form>
    <br>
    <hr>
    <h2>Listings</h2>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">URL</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i=0; listings.length> 0 && i < listings.length && i < 5 ; i++) { %>
            <tr>
              <th scope="row">
                <%= listings[i].id %>
              </th>
              <td>
                <%= listings[i].title %>
              </td>
              <td>
                <%- listings[i].desc.slice(0,200) %> ...
              </td>
              <td><a href='listings/<%= listings[i].id %>' style="opacity:<%= 1/(i+0.01) %>;">listing/<%= listings[i].id
                    %></a></td>
            </tr>
            <% } %>
      </tbody>
    </table>


    <br>
    <hr>
    <h2>Add a listing</h2>

    <div id="editor" class="pell" data-target="#unique_target" data-max="500"></div>
    <div id="characters-left"></div>
    <div>
      HTML output:
      <div id="html-output" style="white-space:pre-wrap;"></div>
    </div>
    <br>

    <form action="listings/add" method="POST">
      <div>
        <label for="title">Choose a title</label>
        <input name="title" class="add" id="title" value="title...">
      </div>
      <div>
        <label>Choose tags</label>
        <input name='tags' value='tag1, tag2 autofocus'>
      </div>
      <div>
        <!-- <label for="description">What description do you want to say?</label> -->
        <input name="desc" class="add" id="description" value="description..." type="hidden">
      </div>
      <div>
        <button>Send my data</button>
      </div>
    </form>



  </div>
</body>
<%- include('partials/afterbody'); %>

</html>