<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="container">

    <%- include('partials/navbar'); %>

    <div class="head">
      <div class="headerobjectswrapper">
          <div class="weatherforcastbox"><span style="font-style: italic;"><%= intro %></div>
          <header><%= title %></header>
      </div>
      <div class="subhead">Algeria, somewhere - <%= new Intl.DateTimeFormat('ar-DZ', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %></div>
    </div>

    <details>
      <summary>Search</summary>
      <h2>Search</h2>
      <form action="/listings/query" method="POST">
        <p class="grouped">
          <label for="title">Title</label>
          <input name="title" class="query" id="title" value="title...">
          <label for="exactTitle">Exact ?</label>
          <input type="checkbox" class="query" name="exactTitle" id="exactTitle" checked>
          <label for="description">Description</label>
          <input name="desc" class="query" id="description" value="description...">
          <label for="exactDesc">Exact ?</label>
          <input type="checkbox" class="query" name="exactDesc" id="exactDesc" checked>
          <label for="since">Since date</label>
          <input type="date" class="query" id="since" name="since" value="2021-04-01" min="2021-04-01">
        </p>
        <div>
          <button>Send my data</button>
        </div>
      </form>
    </details>


    <br>
    <hr>
    <details>
      <summary>Fuzzy search</summary>
      <h2>Fuzzy search</h2>
      <form action="/listings/queryV2" method="POST">
        <p class="grouped">
          <label for="title_desc">Title and description</label>
          <input name="title_desc" value="title_desc...">
          <label for="since">Since date</label>
          <input type="date" name="since" value="2021-04-01" min="2021-04-01">
        </p>

        <div>
          <button>Send my data</button>
        </div>
      </form>
    </details>

    <br>
    <hr>
    <h2>Listings</h2>

    <div class="row">
      <% for (var i=0; listings.length> 0 && i < listings.length && i < 10 ; i++) { %>
      <div class="col"> 
        <h3><a href='/listings/<%= listings[i].id %>'><%= listings[i].title %></a></h3> 
        <p><%- listings[i].desc_.slice(0,300) %> ...</p>
        <code><%= listings[i].date %></code>

        <ul class="tags">
          <% for (var j=0; listings[j].tags && listings[j].tags.length > 0 && j < listings[j].tags.length ; j++) { %>
            <li><a href="/<%- listings[j].tags[j] %>" class="tagg"><%- listings[j].tags[j] %></a></li>
          <% } %>
        </ul>

      </div>
      <% } %>
    </div>

    <br>
    <hr>
    <details>
      <summary>Add a listing</summary>
      <h2>Add a listing</h2>

      <div id="editor" class="pell" data-target="#unique_target" data-max="500"></div>
      <div id="characters-left"></div>
      <div>
        HTML output:
        <div id="html-output" style="white-space:pre-wrap;"></div>
      </div>
      <br>
      <div id="map" ></div>
      <form action="/listings/add" enctype="multipart/form-data" method="POST">
        <div>
          <label for="title">Choose a title</label>
          <input name="title" class="add" id="title" value="title...">
        </div>
        <div>
          <label>Choose tags</label>
          <input name='tags' id='listings' value='tag1, tag2 autofocus'>
        </div>
        <div>
          <!-- <label for="description">What description do you want to say?</label> -->
          <input name="desc" class="add" id="description" value="description..." type="hidden">
        </div>
        <div>
          <input type='file' value='image' name='avatar' />
        </div>
        <input type="hidden" type="number" id="lat" name="lat" > 
        <input type="hidden" type="number" id="lng" name="lng" > 
        <input type="hidden" name="sec" value='listing'> 
        <div>
          <button>Send my data</button>
        </div>
      </form>

    </details>

    <br>
    <hr>
    <details>
      <summary>Add an announcement</summary>
      <h2>Add an announcement</h2>

      <div id="editor2" class="pell" data-target="#unique_target" data-max="500"></div>
      <div id="characters-left2"></div>
      <div>
        HTML output:
        <div id="html-output2" style="white-space:pre-wrap;"></div>
      </div>
      <br>
      <form action="/listings/add2" method="POST">
        <div>
          <label for="title">Choose a title</label>
          <input name="title" class="add" id="title" value="title...">
        </div>
        <div>
          <label>Choose tags</label>
          <input name='tags' id='announcements' value='tag1, tag2 autofocus'>
        </div>
        <div>
          <!-- <label for="description">What description do you want to say?</label> -->
          <input name="desc" class="add" id="description2" value="description..." type="hidden">
        </div>
        <input type="hidden" name="sec" value='announcement'> 
        <div>
          <button>Send my data</button>
        </div>
      </form>

    </details>
    <%- include('partials/prepare_toast'); %>
  </div>
  
  <%- include('partials/footer'); %>
</body>
<%- include('partials/afterbody'); %>

</html>