<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <% if (data.title && data.desc) { %>
      <h2><%= data.title %></h2>
      <p><%- data.desc %></p>
      <h2>deactivate</h2>
      <form action="deactivate" method="POST">
        <div>
          <label for="password">You need the password for the announcement</label>
          <input name="password" id="password" value="password...">
        </div>
        <div>
          <button>Deactivate</button>
        </div>
      </form>
    <% } else {    %>
    <% } %>

  <%- include('partials/prepare_toast'); %>

  </div>
</body>
<%- include('partials/afterbody'); %>
</html>