<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body>
  <div class="container">
	<%- include('partials/navbar'); %>

    <h1>Login</h1>
	<form action="/sendtoken" method="POST">
		Email:
		<br><input name="user" type="text">
		<br><input type="submit" value="Login">
	</form>
  </div>
  <%- include('partials/footer'); %>
  
  <%- include('partials/prepare_toast'); %>
</body>
<%- include('partials/afterbody'); %>
</html>