<!DOCTYPE html>
<html>

<head>
  <%- include('partials/datatables'); %>
</head>

<body>
  <div class="container">
    <%- include('partials/navbar'); %>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <p class="grouped">
      <input  id="events" id="events" type="text">
      <button class="copybtn icon-only" type="button" data-clipboard-target="#events" aria-label="Copy to clipboard"><img src="https://icongr.am/feather/copy.svg?size=16"></button>
    </p>
    <table id="table_id" class="display nowrap" width="100%">
    </table>
  </div>
  <%- include('partials/footer'); %>
</body>
<%- include('partials/afterbody_datatable'); %>

</html>